@model ControleRural.Areas.Cadastramento.Models.PessoaVM

@{
    ViewBag.Title = "DetalheFornecedor";
}

<h2>DetalheFornecedor</h2>


    <div class="form-horizontal">
        <h4>PessoaVM</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Apelido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Apelido" disabled="" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Cnpj" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Cpf" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Nome" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Endereco" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Numero" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Bairro" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Cep" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Cidade" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InscEstadual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.InscEstadual" disabled="" class="form-control" />
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Telefone" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Fax" disabled="" class="form-control" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@Model.Email" disabled="" class="form-control" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
             <a href="@Url.Action("Fornecedores","Painel")" class="btn btn-success">Voltar</a>
            </div>
        </div>
    </div>
