<h2 class="headers">Painel de Controle</h2>
<p>Bem vindo @User.Identity.Name</p>

<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("RegistrarCompra","Painel")">Registrar Compra / Venda</a></li>
    <li class="list-group-item"><a href="@Url.Action("RegistrarAnimal","Painel")">Registrar Animal</a></li>
    <li class="list-group-item"><a href="@Url.Action("RegistrarVacina","Painel")">Registrar Vacina</a></li>
    <li class="list-group-item"><a href="@Url.Action("RegistrarFornecedor","Painel")">Registrar Fornecedor</a></li>
    <li class="list-group-item"><a href="@Url.Action("RegistrarPropriedade","Painel")">Registrar Propriedade</a></li>
    <li class="list-group-item"><a href="@Url.Action("Relatorios","Painel")">Registro de Compras e Vendas</a></li>
</ul>