@using System.Web.Razor.Generator
@model ControleRural.Areas.Cadastramento.Models.AnimalVM

<h2>Registro de Animal</h2>



<form action="" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Propriedade</label>
            <div class="col-md-10">
                @Html.DropDownList("PropriedadeId", (SelectList)@ViewBag.propriedades, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Aquisicao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Aquisicao" class="form-control" />
                @Html.ValidationMessageFor(model => model.Aquisicao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NomeAnimal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeAnimal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeAnimal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Raca</label>

            <div style="padding-left: 210px;" ng-init="tab = 1">
                <a ng-click="tab = 1"  href="#">Corte</a>
                <a ng-click="tab = 2" href="#">Zebuina</a>
                <a ng-click="tab = 3" href="#">Leiteira</a>

            </div>
            <div>
                <div class="col-md-10">
                    <select name="Raca" class="form-control">
                        <option disabled="" selected="" ng-hide="tab != false">Favor selecione uma Raça</option>
                        <option value="Nelore" ng-show="tab===2">Nelore</option>
                        <option value="Nelore-Mocho" ng-show="tab===2">Nelore-Mocho</option>
                        <option value="Nelore-Malhado" ng-show="tab===2">Nelore-Malhado </option>
                        <option value="Nelore-Vermelho" ng-show="tab===2">Nelore-Vermelho</option>
                        <option value="Gir" ng-show="tab===2">Gir</option>
                        <option value="Gir-Mocho" ng-show="tab===2">Gir-Mocho</option>

                        <option value="Holandesa-PB" ng-show="tab===3">Holandesa-PB</option>
                        <option value="Holandesa-VB" ng-show="tab===3">Holandesa-VB</option>
                        <option value="Guernsey" ng-show="tab===3">Guernsey</option>
                        <option value="Jersey" ng-show="tab===3">Jersey</option>
                        <option value="Ayrshire" ng-show="tab===3">Ayrshire</option>


                        <option value="Hereford" ng-show="tab===1">Hereford</option>
                        <option value="Aberdeen-Angus" ng-show="tab===1">Aberdeen-Angus</option>
                        <option value="Charoles" ng-show="tab===1">Charolês</option>
                        <option value="Shorthorn" ng-show="tab===1">Shorthorn</option>
                        <option value="Galloway" ng-show="tab===1">Galloway</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroBrinco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroBrinco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroBrinco, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Sexo</label>
            <div class="col-md-10">
                <select class="form-control" name="Sexo">
                            <option value="f" selected="">Feminino</option>
                            <option value="m">Masculino</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Categoria">
                    <option value="Bovino">Bovino</option>
                    <option value="Bubalino">Bubalino</option>
                    <option value="suino">Suíno</option>
                    <option value="Outros">Outros</option>
                </select>
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Aptidao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Aptidao" class="form-control">
                    <option value="Abate">Abate</option>
                    <option value="Engorda">Engorda</option>
                    <option value="Reprodução">Reprodução</option>
                    <option value="Exposição">Exposição</option>
                    <option value="Leilão">Leilão</option>
                    <option value="Esporte">Esporte</option>
                    <option value="outros">Outros</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SisBov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SisBov, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SisBov, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SisBovPai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SisBovPai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SisBovPai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SisBovMae, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SisBovMae, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SisBovMae, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="DataNascimento" id="DataNascimento" class="form-control" value="@Model.DataNascimento.ToString("dd/MM/yyyy")" />
                @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NirfNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NirfNascimento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NirfNascimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NirfAtual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NirfAtual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NirfAtual, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
